
@viewport{
zoom:1.0;
width: extend-to-zoom;
}
@-ms-viewport{
width: extend-to-zoom;
zoom:1.0;
}
website{
height:100%;
width:100%;
}


@media screen and (max-width: 481px){


body{
height:100%;
width:100%;

}



}




body{
    background-color:whitesmoke;
}

h1{
   margin: auto; 
   height:5%;
   width:80%; 
   background-color: darkblue;
   font-weight: bold;
   font-family: Calibri;
   text-align: center;
   font-size-adjust: auto;
   font-size:170%;
   color:white;
   min-width:500px;
}


h3{
    text-align: center;
    font-family: Calibri;
}

span{
    text-align: center;
    font-family: Calibri;
}

#table1{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top:0.5%;
}

#table2{
    width: 95%;
    margin: auto;
     text-align: center;
}

#table3{
    width:90%;
    margin:auto;
     text-align: center;
}


#tabela1{
min-width:240px;
height:100%;
width: 85%;
border: 2px solid black;
background-color: white;

}
tipoinst{
width: 80%;
}
#margintop{
margin:4% auto;
}
#margintop1{
margin:4% auto;
}
tipocar{
float:left;
font-size-adjust: auto;
size:100%;
width: 80%;
}
tipocar1{
float:left;
size:100%;
width:80%;
}




#tabela1-5{

min-width:150px;
height:100%;
width: 85%;
border: 2px solid black;
background-color: white;
}

#tabela2{
min-width:85px;
height:100%;
width: 85%;
border: 2px solid black;
background-color: white;

}

#tabela3{
min-width:95px;
height:100%;
width: 85%;
border: 2px solid black;
background-color: white;

}

#tabela4{
height:100%;
width: 100%;
border: 2px solid black;
background-color: white;
text-align:left;
}

#tabela5{
min-width:255px;
height:100%;
width: 95%;
margin-left: 5%;
border: 2px solid black;
background-color: white;
}

#tabela6{
min-width:450px;
height:30%;
width: 100%;
border: 2px solid black;
background-color: white;

}

#tabela7{
margin:auto;
text-align: center;
height:15%;
min-width:200px;
width:100%;
}

#tabela8{
min-width:280px;
height:30%;
width: 100%;
border: 2px solid black;
background-color: white;
}

#tipoinst{
 margin-top: 1%;
 text-align: center;
}


#tipocar{
 text-align: center;
}
#tipocar1{
 text-align: center;
  margin-top:1%;
}

#cond{
 text-align: center;
}

#isol{
 text-align: center;
}

#modoinst{
 text-align: center;
}

#considerar{
 text-align: center;
}
#considerar1{
 text-align: center;
}

#frente1{
margin-left:0.25%;
}
#frente2{
margin-left:2%;
}
#frente3{
margin-left:0.25%;
}
#frente4{
margin-left:2%;
}


#botaoi{
 height:100px;
 width:80%;
 text-align: center;
 font-family: Arial;
 border-radius: 10%;
 font-size: 110%;
 font-weight:bold;
 background-color: white;
 cursor:pointer;
 border: 2px solid black;
}

#botaoi:hover{
background-color: black;
color:white;
border: 2px solid white;
}

#secao{
    width:85%;
    margin-top:5%;
    height:100%;
    min-height:25px;
    font-family: Arial;
    font-weight:bold;
    background-color: black;
    color:white;
    font-size:100%;
    text-align:center;
}

#secaoneutro{
    width:85%;
    margin-top:5%;
    height:100%;
    min-height: 25px;
    font-family: Arial;
    font-weight:bold;
    background-color: black;
    color:white;
    font-size:100%;
    text-align:center;
}

#correnteprot{
    width:85%;
    margin-top:5%;
    height:100%;
    min-height: 25px;
    font-family: Arial;
    font-weight:bold;
    background-color: black;
    color:white;
    font-size:100%;
    text-align:center;
    margin-bottom:5%;
}



#cavalo{
 text-align:left;
 margin-top: 5%;
 margin-left: 5%;
 font-family: Calibri;
 font-size: 100%;

}

#valoresdepotencia{
    margin-left:-15%;
    text-align: left;
    font-family: Calibri;
    width:80%;
    min-width:520px;

}

#selectpu{
margin-left:96px;
}

#selectpa{
margin-left:52px;
}

#fatoresmodo{
text-align:center;
margin:1.5% auto;
width:41%;
}

#afastadosoun{
text-align:center;
margin:1.5% auto;
width:30%;
}


#cabosdentrotubos{
text-align:center;
margin:1.5% auto;
width:41%;
}

#disposicao{
text-align:center;
margin:1.5% auto;
width:41%;
}

#vertouhor{
text-align:center;
margin:1.5% auto;
width:25%;
}

#lel{
text-align:center;
height:5%;
}

#mono{
width:100%;
text-align: center;
margin:1.5% auto;
}

#multi
{
width:100%;
text-align: center;
margin:1.5% auto;
}

#vertical
{
text-align: center;
margin:1.5% auto;
}

#horizontal{
text-align: center;
margin:1.5% auto;
}



#afastados{
text-align: center;
margin:1.5% auto;
}

#naoafastados{
text-align: center;
margin:1.5% auto;
}

#esteira{
text-align: center;
margin:1.5% auto;
}


#triangulo{
text-align: center;
margin:1.5% auto;
}

#dentro{
text-align: center;
margin:1.5% auto;
}

#fora{
text-align: center;
margin:1.5% auto;
}

#considerar2{
text-align: center;
}


#puxar1{

margin-left:0%;
font-family: Calibri;
}

#puxar2{

margin-left:3.3%;
font-family: Calibri;
}

#puxar3{

margin-left:7.3%;
font-family: Calibri;
}

#puxar4{

margin-left:8%;
font-family: Calibri;
}

#puxar5{

margin-left:0%;
font-family: Calibri;
}

#puxar6{

margin-left:-5.9%;
font-family: Calibri;
}

#puxar8{

margin-left:-5.9%;
font-family: Calibri;
}

#metodoreferencia{
text-align: center;
margin:0.25% auto;
}

#metodoref{
text-align: center;
font-family: Calibri;
font-size:100%;
color: black;
background-color: whitesmoke;
}

#botao_rolldown{
text-align: center;
font-family: Calibri;
font-weight:bold;
font-size: 80%;
border-radius:10%;
margin-left:5.5%;
margin-top:0.001%;
background-color: white;
border: 2px solid darkblue;
color: darkblue;
cursor:pointer;
}

#botao_rolldown:hover{

background-color: darkblue;
border: 2px solid whitesmoke;
color: white;

}

#lolada{
width:50%;
min-width:300px;
text-align: right;

}
#lolada1{
width:50%;
min-width:300px;
text-align: right;

}
#lolada2{
width:50%;
min-width:300px;
text-align: right;

}

#igualar{
text-align:right;
width:50%;
height:100%;
}

#igualar1{
margin-top:3.5%;
margin-bottom:-3.5%;
}
#igualar2{
margin-top:5%;
margin-bottom:-5%;
}





#alinhar{
width:50%;
text-align: right;
min-width:250px;
}